body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #00aced;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  #site-name {
    padding-left: 15px;
    color: white;
  }
}
